<!doctype>
<html ng-app="profitabilityCalc">
    <head>
        <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.js"></script>
        
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/style.css'>
        <script src="app.js"></script>
    </head>
    <body ng-controller="data">
        <div class="container">
        <div id="header">
            <div id="bigTitle"><h2>Mining Profitability Comparison</h2></div>
            <div id="smallTitle"><h4>Mining Profitability Comparison</h4></div>
            <div  id="infoMessage">
                <p>Still in very early production. Many more features to come!</p>
            </div>
        </div>
        <div id="desktopAdBanner">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- EthCalcBanner -->
            <ins class="adsbygoogle"
                style="display:inline-block;width:728px;height:90px"
                data-ad-client="ca-pub-7592216756911114"
                data-ad-slot="2667682183"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="mobileAdBanner">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- EthBannerMobile -->
            <ins class="adsbygoogle"
                style="display:inline-block;width:320px;height:100px"
                data-ad-client="ca-pub-7592216756911114"
                data-ad-slot="5773448986"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
            <div class="row coinsHeader">
                <div class="col-xs-4">
                    Coin
                </div>
                <div class="col-xs-4">
                    Profitability For:
                    <!--<md-menu md-offset="0 -5">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin md-svg-icon="call:ring-volume"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="item in [1, 2, 3]">
                        <md-button ng-click="ctrl.announceClick($index)"> <span md-menu-align-target>Option</span> Test </md-button>
                        </md-menu-item>
                    </md-menu-content>
                    </md-menu>-->
                </div>
                <div class="col-xs-4">
                    Price (USD)
                </div>
            </div>
            <div class="row coinList" ng-repeat="coin in coinArray | orderBy: '-profitability.rx470.gross'">
                <div class="col-xs-4">
                    <img ng-src="images/{{coin.coinSymbol}}.png"/>
                    {{coinNames[coin.coinSymbol]}} ({{coin.coinSymbol}})
                </div>
                <div class="col-xs-4">
                    ${{coin.profitability.rx470.gross | number: 4}}
                </div>
                <div class="col-xs-4">
                    ${{coin.priceUSD | number: 4}}
                </div>
            </div>
        </div>
    </body>

</html>